#pad
{
    margin: auto;
    width: 70%;
    max-width: 760px;
    padding: 1.5rem 1.5rem;
    border: 3px solid rgba(0, 0, 0, 0.463);
    border-radius: 0px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
    background-image: linear-gradient(0deg, rgb(12, 12, 12), rgb(61, 61, 61));
    position: relative;
}

body
{
    background-color: rgb(173, 173, 173);
    min-width: 480px;
}

*
{
    user-select: none;
}

#number-display
{
    background-color:powderblue;
    border-radius: 25px;
    padding: 1.25rem;
    font-size: 3rem;
    font-family: monospace;
    text-align: right;
    border: 4px solid rgba(0, 0, 0, 0.352);
    margin-bottom: 4rem;
    height: 2.5rem;
    background-image: linear-gradient(0deg, rgb(157, 212, 255), rgb(79, 185, 227));
}

.numerical, .clear, .backspace, .toggle-hide-show
{
    width: 33.33%;
    background-color: rgb(186, 186, 186);
    font-size: 2.75rem;
    font-family: monospace;
    cursor: pointer;
    line-height: 3rem;
    background-image: linear-gradient(0deg, rgb(255, 255, 255), rgb(164, 164, 164));
}

.numerical:hover
{
    background-image: linear-gradient(0deg, rgb(255, 255, 255), rgb(143, 143, 143));
}

.numerical:active
{
    background-image: linear-gradient(0deg, rgb(57, 57, 57), rgb(97, 101, 101));
    color: white;
}

.clear:hover
{
    background-image: linear-gradient(0deg, rgb(198, 62, 62), rgb(220, 107, 107));
}

.clear:active
{
    background-image: linear-gradient(0deg, rgb(190, 46, 46), rgb(255, 43, 43));
    color: white;
}

.backspace:hover
{
    background-image: linear-gradient(0deg, rgb(161, 161, 161), rgb(200, 200, 200));
    color: rgb(180, 77, 0);
}

.backspace:active
{
    background-image: linear-gradient(0deg, rgb(161, 161, 161), rgb(200, 200, 200));
    color: rgb(250, 46, 46);
}

.toggle-hide-show
{
    width: 50%;
    background-color: rgb(100, 40, 253);
    margin-top: 3rem;
}

.toggle-hide-show:hover
{
    background-image: linear-gradient(0deg, rgb(113, 113, 113), rgb(113, 101, 207));
    color: rgb(58, 255, 137);
}

.toggle-hide-show:active
{
    background-image: linear-gradient(0deg, rgb(65, 143, 199), rgb(62, 40, 230));
    color: rgb(58, 255, 137);
}